_format_version: "3.0"
_transform: true

services:
  - name: orders
    url: http://host.docker.internal:3333
    protocol: http
    port: 3333
    path: /
    connect_timeout: 30000
    read_timeout: 30000
    write_timeout: 30000
    retries: 3
    routes:
      - name: app-orders
        protocol:
          - http
          - https
        paths:
          - /orders

plugins:
  - name: cors
    config:
      origins:
        - "*"
      methods:
        - GET
        - POST
        - PUT
        - DELETE
        - OPTIONS
      headers:
        - Accept
        - Authorization
        - Content-Type
